.controls {
	background-color: #F1F1D4;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	-moz-border-radius: 50px 50px 60px 60px;
	border-radius: 50px 50px 60px 60px;
	width: 440px;
   height: 180px;
   z-index:-1;

}

.play {

border-color:transparent transparent transparent #DE9D7F;
border-style:solid;
border-width:30px 0 30px 60px;
margin-left: 30px;
float:left;
height:0;
text-indent:-9999px;
width:0;
position: absolute;
top: 90px;
left:13px;
}
.stop {
border:30px solid #DE9D7F;
margin-left: 30px;
float:left;
height:0;
text-indent:-9999px;
width:0;
position: absolute;
top: 90px;
left:100px;

}

.forwardskip1 {
border-color:transparent transparent transparent #DE9D7F;
border-style:solid;
border-width:30px 0 30px 35px;
margin-left: 30px;
float:left;
height:0;
text-indent:-9999px;
width:0;
position: absolute;
top: 90px;
left:305px;
}

.forwardskip2 {
border-color:transparent transparent transparent #DE9D7F;
border-style:solid;
border-width:30px 0 30px 35px;
float:left;
height:0;
text-indent:-9999px;
width:0;
position: absolute;
top: 90px;
left:370px;
}

.forwardskip3 {
border:5px solid #DE9D7F;
float:left;
height:48px;
text-indent:-9999px;
width:0px;
position: absolute;
top: 90px;
left:405px;
}

.rewindskip1 {
border-color:transparent #DE9D7F transparent transparent;
border-style:solid;
border-width:30px 35px 30px 0px;
float:left;
height:0;
text-indent:-9999px;
width:0;
position: absolute;
top: 90px;
left:235px;
}

.rewindskip2 {
border-color:transparent #DE9D7F transparent transparent;
border-style:solid;
border-width:30px 35px 30px 0px;
float:left;
height:0;
text-indent:-9999px;
width:0;
position: absolute;
top: 90px;
left:270px;
}

.rewindskip3 {
	margin-left: 30px;
border:5px solid #DE9D7F;
float:left;
height:48px;
float:left;
text-indent:-9999px;
width:0px;
position: absolute;
top: 90px;
left:195px;
}

.ctitle {
	color: #5E5E5A;
font-family: 'Days One', sans-serif;
	text-align: center;
	background-color: #DE9D7F;
	-moz-border-radius-topright: 60px;
	border-top-right-radius: 60px;
	-moz-border-radius-topleft: 60px;
	border-top-left-radius: 60px;
	padding-top: 12px;
   padding-bottom: 12px;
	margin-bottom: 10px;
}
.stitle {
	position: absolute;
	top: 222px;
	width: 441px;
	left: 8px;
	color: #5E5E5A;
	font-family: 'Days One', sans-serif;
	text-align: center;
	background-color: #DE9D7F;

	-moz-border-radius-topright: 60px;
	border-top-right-radius: 60px;
	-moz-border-radius-topleft: 60px;
	border-top-left-radius: 60px;
	padding-top: 12px;
   padding-bottom: 12px;
	margin-bottom: 10px;
}
.current_song {
text-align: center;

position: absolute;
top: 222px;
height:45px;
width: 425px;
background-color: #F1F1D4;
-moz-box-shadow: 10px 10px 5px #888;
-webkit-box-shadow: 10px 10px 5px #888;
box-shadow: 10px 10px 5px #888;
-moz-border-radius: 50px 50px 60px 60px;
border-radius: 50px 50px 60px 60px;
padding-top: 60px;
padding-bottom: 15px;
padding-left: 8px;
padding-right: 8px;
z-index:-1;
}

.ptitle {
	position: absolute;
	top: 380px;
	width: 616px;
	color: #5E5E5A;
	height:33px;
	font-family: 'Days One', sans-serif;
	text-align: center;
	background-color: #DE9D7F;
	-moz-border-radius-topright: 60px;
	border-top-right-radius: 60px;
	-moz-border-radius-topleft: 60px;
	border-top-left-radius: 60px;
	padding-top: 7px;
   padding-bottom: 12px;
	margin-bottom: 12px;
}
.playlist {
	padding-top: 65px;
	padding-bottom: 40px;
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	top: 380px;
	width: 600px;
	background-color: #F1F1D4;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

.songodd {
background-color: #E5E5A8;
}
.thesong {
background-color: #DE9D7F;
}

.volume_up {
position: absolute;
top: 78px;
left: 38px;

}

.volume_up1 {
width: 70px;
height: 70px;
background-color: #F1F1D4;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 30px;
position: absolute;
top: 0px;
left: 0px;
}
.volume_up2 {
border:5px solid #DE9D7F;
height:44px;
width:0px;
position: absolute;
top: 8px;
left: 30px;

}

.volume_up3 {
border:5px solid #DE9D7F;
float:left;
height:0px;
width:44px;
position: absolute;
top: 30px;
left: 8px;
}
.volume_down {

position: absolute;
top: 220px;
left: 38px;
}

.volume_down1 {
width: 70px;
height: 70px;
background-color: #F1F1D4;
-moz-border-radius: 50px;
-webkit-border-radius: 50px;
border-radius: 30px;
position: absolute;
top: 0px;
left: 0px;
}
.volume_down2 {
border:5px solid #DE9D7F;
float:left;
height:0px;
float:left;
width:44px;
position: absolute;
top: 30px;
left: 8px;
}

.volume_text {
	font-size: 280%;
	font-family: 'Days One', sans-serif;	
	background-color: #F1F1D4;
	position: absolute;
	width: 130px;
   height: 60px;
   top: 154px;
   padding-left: 8px;
   padding-right: 8px;
   left: 0px;
}

.vtitle {
	position: absolute;
	top: 8px;
	left: 470px;
	width: 146px;
	color: #5E5E5A;
	height:21px;
	font-family: 'Days One', sans-serif;
	text-align: center;
	background-color: #DE9D7F;
	-moz-border-radius-topright: 60px;
	border-top-right-radius: 60px;
	-moz-border-radius-topleft: 60px;
	border-top-left-radius: 60px;
	padding-top: 12px;
   padding-bottom: 12px;
	margin-bottom: 10px;
   z-index:1;
}
.volume {
	text-align: center;
	background-color: #F1F1D4;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	-moz-border-radius: 60px;
	border-radius: 50px 50px 60px 60px;
	position: absolute;
	width: 130px;
   height: 336px;
   top: 8px;
   padding-left: 8px;
   padding-right: 8px;
   left: 470px;
}

